body {
    width: 700px;
    margin: 0px auto 0px auto;
    text-align: justify;
}

div#navigation {
    text-align: center;
    border-bottom: 4px solid black;
}

div#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
}

div.figure { 
   float:right;
   margin-left:15px
}

div.figure_left { 
   float:left;
   margin-right:15px
}

a {
   color:#386794;
   text-decoration:none
}

a:hover {
   color:#1d4c77;
   text-decoration:underline
}

a:visited,a:active { 
   color:#6c88a2
}
