<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Bernie Pope - $title$</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
	<link rel="stylesheet" href="/css/side-menu.css">
	<link rel="stylesheet" href="/css/custom.css">
    </head>

    <body>
       <div id="layout">
          <div id="menu">
             <div class="pure-menu pure-menu-open">
                <ul>
		   <li $if(home)$ class="pure-menu-selected" $endif$><a href="./index.html">Home</a></li>
                   <li $if(contact)$ class="pure-menu-selected" $endif$><a href="./contact.html">Contact</a></li>
                   <li $if(papers)$ class="pure-menu-selected" $endif$><a href="./papers.html">Papers</a></li>
                   <li $if(thesis)$ class="pure-menu-selected" $endif$><a href="./thesis.html">Thesis</a></li>
                   <li $if(software)$ class="pure-menu-selected" $endif$><a href="./software.html">Software</a></li>
                   <li $if(presentations)$ class="pure-menu-selected" $endif$><a href="./presentations.html">Presentations</a></li>
                   <li $if(academia)$ class="pure-menu-selected" $endif$><a href="./academia.html">Academia</a></li>
		   <li $if(notes)$ class="pure-menu-selected" $endif$><a href="./notes.html">Notes</a></li>
                </ul>
             </div>
          </div>

          <div id="main">
             <div class="header">
                <h1>Bernie Pope</h1>
                <h2>$title$</h2>
             </div>

             <div class="content">
                $body$
             </div>
        </div>
    </body>
</html>
