{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "home" %}
{% block content %}
{{ super () }}

<div class="media my-5">
  <img class="align-self-start d-none d-sm-block" src="{{ contents.photo }}" alt="photo" style="height:268px">
  <div class="media-body">
     <div class="jumbotron" style="border-radius:0px">
        <h1 class="display-3">{{ contents.name }}</h1>
        <p class="lead">{{ contents.position }}</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-8">
    <h3 class="my-3">Overview</h5>
    {{ contents.overview }} 
    <h3 class="my-3">Affiliations</h3>
      <ul>
        {% for item in contents.affiliations %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
  </div>

  <div class="col-4">
    <h3 class="my-3">Key research areas</h3>
      <ul>
        {% for item in contents.research %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
  </div>
</div>

<h3 class="my-3">News</span></h3>

<div class="card-deck my-3">

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Recent presentations</h4>
      <p class="card-text">
        <ul>
            {% for presentation in presentations %}
              <li>{{ presentation.title }}, {{ presentation.event }}, {{ presentation.date }}.</li>
            {% endfor %}
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="presentations.html">View all presentations</a></small>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Recent publications</h4>
      <p class="card-text">
        <ul>
          {% for publication in publications %}
             {% if publication.url %}
               <li><a href="{{ publication.url }}">{{ publication.title }}</a>, {{ publication.journal }}, {{ publication.year }}.</li>
             {% else %}
               <li>{{ publication.title }}, {{ publication.journal }}, {{ publication.year }}.</li>
             {% endif %}
          {% endfor %}
        </ul>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="publications.html">View all publications</a></small>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Recent activities</h4>
        <p class="card-text">
        <ul>
          {% for activity in activities %}
            <li>{{ activity.date }}: {{ activity.description }}</li>
          {% endfor %}
        </ul>
        </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="activities.html">View all activities</a></small>
    </div>
  </div>

</div>

{% endblock %}
