{% extends "base.html" %}
{% block title %}Software{% endblock %}
{% set active_page = "software" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Research Software</h1>

<p>GitHub: <a href="https://github.com/bjpop">github.com/bjpop</a>
<a href="https://github.com/bjpop?tab=followers"><img src="https://img.shields.io/github/followers/bjpop.svg?style=social&logo=github&label=Followers"></a>
</p>

{% for project in contents %}

  <div class="card my-5">
    <h4 class="card-header">{{ project.name }}</h4>
      <div class="card-body">
         <dl class="row">
	     <dt class="col-sm-2">Summary</dt>
             <dd class="col-sm-10">{{ project.summary }}</dd>

	     <dt class="col-sm-2">Repository</dt>
             <dd class="col-sm-10"><a href="{{ project.repository }}">{{ project.repository }}</a></dd>

	     <dt class="col-sm-2">Description</dt>
             <dd class="col-sm-10">{{ project.description }}</dd>

	     {% if project.publication %}
	     <dt class="col-sm-2">Publication</dt>
             <dd class="col-sm-10">{{ project.publication }}</dd>
	     {% endif %}
         </dl>
      </div>
  </div>
{% endfor %}

{% endblock %}
